
<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <base href="{{ site.url }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.3/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.3/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/carousel.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/fr/style.css">
    <link rel="stylesheet" href="css/fr/responsive.css">
    <link rel="stylesheet" href="css/languages.css">
    
    <!-- Js -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.3/owl.carousel.min.js"></script>
    <script src="js/carousel.js"></script>


  </head>
  <body>



    <!-- Header Start -->
  <header>
    <div class="container-fluid">
      <div class="row" align="right">
        {% include multi-language.html %}
      </div>
      <div class="row">
        <div>
        	{% include fr/nav.html %}
        </div>
      </div>
    </div>
  </header><!-- header close -->



{{ content }}



    <footer>
      <div class="container-fluid*">
        <div class="row">
          <div class="col-md-12">
            <p>© 2018 by SAS VIN PLUS</p>
          </div>
        </div>
      </div>
    </footer>
                     
  <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
            
    
    </body>
</html>