    <!-- Wrapper Start -->
    <section id="intro">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-sm-2"></div>
          <div class="col-md-8 col-sm-8">
            <div class="block">
              <div class="section-title">
                <h2>Heritage</h2>
              </div>
              <p>In 1869, Edmond Addé, recognised by the France agricultural sector with a title of “Knight of the field”, succeeded Château Preuillac. From Merlot, Cabernet Sauvignon to Semillon and Muscat grapes, Edmond Addé works on the selection of premium grapes varieties and development of the vineyard. As of 1879, the winery has won a number of different medals and awards.</p>
              <p>Château Preuillac earned well-deserved recognition in 1932 when it is included in the Crus Bourgeois classification created that year.</p>
              <p>Château Preuillac which was already a 30 hectares estate, was taken over by Raymond Bouët, who initiated a major overhaul of the estate’s vineyards, construction of a winery and an underground cellar that go into service in 1975. The underground cellar covering 200m² hence became a unique structure in the Médoc appellation.</p>
              <p>Construction was completed in 1980, adopting the 18th Century style.</p>
              <p>The Mau and Dirkzwager families successfully bought over the estate in 1998.</p>
              <p>Major renovation works were undertaken throughout the winery and the vineyard which led to a boost for Château Preuillac to shine and excel towards a further goal.</p>
            </div>
          </div>
          <div class="col-md-2 col-sm-2"></div>
          <!--<div class="col-md-5 col-sm-12">
            <div class="block">
              <img src="img/wrapper-img.png" alt="Img">
            </div>
          </div>--><!-- .col-md-5 close -->
        </div>
      </div>
    </section>