    <!-- Wrapper Start -->
    <section id="appellation">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-sm-2"></div>
          <div class="col-md-8 col-sm-8">
            <div class="block">
              <img src="img/appellation.jpg" alt="Img">
            </div>
          </div>
          <div class="col-md-2 col-sm-2"></div>
        </div>
        <div class="row">
          <div class="col-md-2 col-sm-2"></div>
          <div class="col-md-8 col-sm-8">
            <div class="block">
              <div class="section-title">
                <h2>The Appellation</h2>
              </div>
              <p>With the moderate climate, land conditions and bordered by river and ocean in Médoc, it was a perfect condition for a wine growing region since the 16th century.</p>
              <p>By the 18th century, the development of Médoc was significant, especially at the peak of the British wine trade, the Médoc appellation has become a symbolic icon in the French wine industry.</p>
              <p>Médoc is one of the key appellations in the left bank of Bordeaux. It is located between the Atlantic Ocean and the Gironde, covering an area of 16500 hectares, origin of the name comes from the Latin word ‘inmédio-aquae’ which means ‘between the waters’. This has accentuated the abundance of water around the Médoc appellation.</p>
              <p>Médoc has an alluvial soil composition of mainly sand, clay and gravel, it became a unique terrain in the Left Bank of Bordeaux. Furthermore, the high gravel content also allows a good natural drainage.</p>
              <p>Top wineries like Château Lafite Rothschild, Château Latour, Château Haut-Brion, Château Margaux are all located in the Left Bank.</p>
            </div>
          </div>
          <div class="col-md-2 col-sm-2"></div>
        </div>
      </div>
    </section>