
<ul class="address-block">
  <li>
    <p>Visiting is by appointment from Monday to Friday 0900h-1800h. <br /> Weekends and public holidays are available by special request.</p>
  </li>
  <li>
    <i class="fa fa-plane"></i>
  </li>
  <li>
    <table width="100%">
      <tr>
        <td width="35%">Bordeaux–Mérignac Airport</td>
        <td width="65%">64.4km (approx. 1hr drive)</td>
      </tr>
    </table>
  </li>
  <li>
    <i class="fas fa-city"></i>
  </li>
  <li>
    <table width="100%">
      <tr>
        <td width="35%">Bordeaux City Centre</td>
        <td width="65%">65.9km (approx. 1hr13min drive)</td>
      </tr>
    </table>
  </li>
  <li>
    <i class="fab fa-vine"></i>
  </li>
  <li>
    <table width="100%">
      <tr>
        <td width="35%">Château La Cardonne</td>
        <td width="65%">800m (approx. 1min drive)</td>
      </tr>
      <tr>
        <td width="35%">Château Ramafort</td>
        <td width="65%">800m (approx. 1min drive)</td>
      </tr>
      <tr>
        <td width="35%">Château Cos d'Estournel</td>
        <td width="65%">15.6km (approx. 15min drive)</td>
      </tr>
      <tr>
        <td width="35%">Château Montrose</td>
        <td width="65%">15.9 km (approx. 18min drive)</td>
      </tr>
      <tr>
        <td width="35%">Château Lafite  Rothschild</td>
        <td width="65%">18.0km (approx. 20 mins drive)</td>
      </tr>
      <tr>
        <td width="35%">Château Mouton Rothschild</td>
        <td width="65%">18.3km (approx. 20 mins drive)</td>
      </tr>
      <tr>
        <td width="35%">Château d'Armailhac</td>
        <td width="65%">18.8km (approx. 20 mins drive)</td>
      </tr>
      <tr>
        <td width="35%">Château Pontet Canet</td>
        <td width="65%">19.5km (approx. 22 mins drive)</td>
      </tr>
      <tr>
        <td width="35%">Château Lynch Bages</td>
        <td width="65%">21.0km (approx. 24 mins drive)</td>
      </tr>
      <tr>
        <td width="35%">Château Pichon Baron</td>
        <td width="65%">25.0km (approx. 26 min drive)</td>
      </tr>
      <tr>
        <td width="35%">Château Léoville Poyferré</td>
        <td width="65%">26.7km (approx. 26min drive)</td>
      </tr>
      <tr>
        <td width="35%">Château Gruaud Larose</td>
        <td width="65%">27.2km (approx. 26min drive)</td>
      </tr>
      <tr>
        <td width="35%">Château Beychevelle</td>
        <td width="65%">28.1km (approx. 28min drive)</td>
      </tr>
      <tr>
        <td width="35%">Château Latour</td>
        <td width="65%">28.2km (approx. 28min drive)</td>
      </tr>
      <tr>
        <td width="35%">Château Ducru-Beaucaillou</td>
        <td width="65%">28.3km (approx. 28min drive)</td>
      </tr>
    </table>
  </li>
  <li>
    <i class="fa fa-map-marker"></i>33340 Lesparre-Médoc - France
  </li>
  <li>
    <i class="fa fa-envelope"></i>Email: contact@chateaupreuillac.com
  </li>
  <li id="phone">
    <i class="fa fa-phone"></i>Phone: 00 33 (0) 5 57 24 95 98
  </li>
</ul>
<h2>Contact us to make an appointment!</h2>