
<ul class="address-block">
  <li>
    <p>Visiting is by appointment from Monday to Friday 0900h-1800h. <br /> Weekends and public holidays are available by special request.</p>
  </li>
  <li>
    <i class="fa fa-plane"></i>
  </li>
  <li>
    <table width="100%">
      <tr>
        <td width="35%">Bordeaux Airport</td>
        <td width="65%">65.7km (approximately 1 hr drive)</td>
      </tr>
    </table>
  </li>
  <li>
    <i class="fa fa-vine"></i>
  </li>
  <li>
    <table width="100%">
      <tr>
        <td width="35%">Château La Cardonne</td>
        <td width="65%">800m (approx. 1min drive)</td>
      </tr>
      <tr>
        <td width="35%">Château Ramafort</td>
        <td width="65%">800m (approx. 1min drive)</td>
      </tr>
      <tr>
        <td width="35%">Château Lafite  Rothschild</td>
        <td width="65%">18.0km (approx. 20 mins drive)</td>
      </tr>
      <tr>
        <td width="35%">Château Mouton Rothschild</td>
        <td width="65%">18.3km (approx. 20 mins drive)</td>
      </tr>
      <tr>
        <td width="35%">Château d'Armailhac</td>
        <td width="65%">18.8km (approx. 20 mins drive)</td>
      </tr>
      <tr>
        <td width="35%">Château Pontet Canet</td>
        <td width="65%">19.5km (approx. 22 mins drive)</td>
      </tr>
      <tr>
        <td width="35%">Château Lynch Bages</td>
        <td width="65%">21.0km (approximately 24 mins drive)</td>
      </tr>
    </table>
  </li>
  <li>
    <i class="fa fa-map-marker"></i>33340 Lesparre-Médoc - France
  </li>
  <li>
    <i class="fa fa-envelope-o"></i>Email: contact@chateaupreuillac.com
  </li>
  <li id="phone">
    <i class="fa fa-phone"></i>Phone: 00 33 (0) 5 57 24 95 98
  </li>
</ul>
<h2>Contact us to make an appointment!</h2>