    <!-- Wrapper Start -->
    <section id="grapes">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-sm-2"></div>
          <div class="col-md-8 col-sm-8">
            <div class="block">
              <img src="img/grapes.jpg" alt="Img">
            </div>
          </div>
          <div class="col-md-2 col-sm-2"></div>
        </div>
        <div class="row">
          <div class="col-md-2 col-sm-2"></div>
          <div class="col-md-8 col-sm-8">
            <div class="block">
              <div class="section-title">
                <h2>The Grapes</h2>
              </div>
              <p>The vineyard is planted with Merlot (54%), Cabernet Sauvignon (40%) and Cabernet Franc (5%), Petit Verdot (1%) of which vines are 35 years old on average.</p>
              <div class="section-title">
                <h3>MERLOT</h3>
              </div>
              <p>Taking exceptionally well to the terroir of the area, the grapes ripen early and easily. Merlot grapes are harvested early in order to maintain the acidity and produce more medium-bodied wines with moderate alcohol levels that have fresh, red fruit flavors (raspberries, strawberries) and potentially leafy, vegetal notes. Whereas late harvesting is to gain physiological ripeness and produce inky, purple colored wines that are full in body with high alcohol and lush, velvety tannins with intense notes of plum and blackberry fruits.</p>
              <div class="section-title">
                <h3>CABERNET SAUVIGNON</h3>
              </div>
              <p>Cabernet Sauvignon encompasses a broad range of potential flavours; with ripening bringing blackcurrant and even cassis flavours. The blackcurrant notes are often seen with black cherry and black olive notes in Bordeaux, they tends to be full-bodied wines with high tannins and noticeable acidity that contributes to the wine’s aging potential. Our exacting standards mean that only the finest, perfectly ripened Cabernet Sauvignon grapes are added to Château Preuillac's reds.</p>
              <div class="section-title">
                <h3>CABERNET FRANC</h3>
              </div>
              <p>A distant relative of Cabernet Sauvignon, Cabernet Franc buds and ripens at least a week earlier and is often used to blend with Cabernet Sauvignon and Merlot in the Bordeaux style. Cabernet Franc delivers complex fragrance and wonderfully perfumed raspberry and blackcurrant flavours to Château Preuillac's wines.</p>
              <div class="section-title">
                <h3>PETIT VERDOT</h3>
              </div>
              <p>Petit Verdot is a variety of red wine grape, principally used in classic Bordeaux blends. Almost all the Petit Verdot in France is planted in Bordeaux, mostly in the Médoc where it is used in small amounts to give structure to the classic Bordeaux blend. It ripens much later than the other varieties in Bordeaux. When it does ripen it adds tannin, colour and flavour, in small amounts, to the blend. It also brings coffee or even cocoa aromas.</p>
            </div>
          </div>
          <div class="col-md-2 col-sm-2"></div>
        </div>
      </div>
    </section>