<div class="language-selection">
<div class="btn-group dropdown">
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
		<span class="fa fa-globe"> Select Language</span> <span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu">
		<span><a class="lang-sm lang-lbl-full" lang="en" href="#"></a><span>
		<span><a class="lang-sm lang-lbl-full" lang="fr" href="index_fr.html"></a><span>
		<span><a class="lang-sm lang-lbl-full" lang="zh" href="index_zh.html"></a><span>
	</ul>
</div>
</div>
