<header>
  <div class="container-fluid">
    <div class="row">
      {% if page.title != "Château Preuillac" %}
        <div class="col-md-2 col-sm-2">
          <a class="navbar-brand" href="index.html">
            <img src="img/logo.png" alt="Logo">
          </a>
        </div>
      {% else %}
        <div class="col-md-2 col-sm-2"></div>
      {% endif %} 
        <div class="col-md-8 col-sm-8">
        <!-- header Nav Start -->
        <nav class="navbar navbar-default">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar">
            <li><a href="index.html">Home</a></li>
            <li><a href="about-us.html">About Us</a></li>
            <li><a href="vineyard.html">Vineyard</a></li>
            <!--<li class="dropdown"><a href="vineyard.html">Vineyard <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="vineyard.html#appellation">The Appellation</a></li>
                <li><a href="vineyard.html#vineyard">The Vineyard</a></li>
                <li><a href="vineyard.html#viticulture">The Viticulture</a></li>
                <li><a href="vineyard.html#grapes">The Grapes</a></li>
              </ul>
            -->
            <li><a href="vinification.html">Vinification</a></li>
            <li><a href="our-wine.html">Wines</a></li>
            <li><a href="gallery.html">Gallery</a></li>
            <li><a href="contact.html">Visit</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->

      </nav>
    </div>
    <div class="col-md-2 col-sm-2"></div>
  </div>
</div>
</header>
