    <!-- Wrapper Start -->
    <section id="oakbarrels">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-sm-2"></div>
          <div class="col-md-8 col-sm-8">
            <div class="block">
              <img src="img/oakbarrels.jpg" alt="Img">
            </div>
          </div>
          <div class="col-md-2 col-sm-2"></div>
        </div>
        <div class="row">
          <div class="col-md-2 col-sm-2"></div>
          <div class="col-md-8 col-sm-8">
            <div class="block">
              <div class="section-title">
                <h2>Oak Barrels</h2>
              </div>
              <p>The grade of the barrels is very important as it affects the wine quality. French oak is best known for its quality, it influences the wine’s flavour and aromatic components. With the knowledge of French barrel producers, they study and understand how different types of wood can impart different qualities.</p>
              <p>In Château Preuillac, fine grain of wood is selected, because it imparts soft tannins. They are medium toasted to respect the fruity aromas of wine.</p>
            </div>
          </div>
          <div class="col-md-2 col-sm-2"></div>
        </div>
      </div>
    </section>