<section id="intro">
	<div class="container">
		<div class="row">
			<div class="col-md-2 col-sm-2"></div>
			<div class="col-md-8 col-sm-8">
				<div class="block">
          <div class="section-title">
            <h2>Our Team</h2>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2"></div>
    </div>

    <div class="row">
      <div class="col-md-2 col-sm-2"></div>
      <div class="col-md-3 col-sm-3">
        <div class="block">
          <img src="img/NathalieBillard.jpg" alt="Img">
        </div>
      </div>
      <div class="col-md-5 col-sm-5">
        <div class="block">
          <div class="section-title">
            <h3>Nathalie Billard</h3>
            <h4>Technical Director Of Château Preuillac</h4>
            <p>A <i>Master of wine</i> with at least 20 years of winemaking experience in different countries and appellations, including California, South of France, Bordeaux etc. Here in Château Preuillac, Nathalie plans and organizes the work of the team, be it at the vineyard or in the cellar. She also works very closely with all of the subcontractors and consultants.</p>
            <p>Nathalie aims to crafting wines that are delicate and with elegance but still showing aspects of fruit concentration and its terroir. Above all, it is also important for her in maintaining balance of the wines. This truly reflects her meticulous attention to details and her dedication in winemaking.</p>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2"></div>
    </div>

    <div class="row">
      <div class="col-md-2 col-sm-2"></div>
      <div class="col-md-3 col-sm-3">
        <div class="block">
          <img src="img/ClaudeLydia.png" alt="Img">
        </div>
      </div>
      <div class="col-md-5 col-sm-5">
        <div class="block">
          <div class="section-title">
            <h3>Claude and Lydia Bourguignon</h3>
            <h4>Agronomists</h4>
            <p>Blessed with a superior terroir, Château Preuillac has also invited the world’s most renowned soil experts, Claude and Lydia Bourguignon to join the team.</p>
            <p>Claude Bourguignon has spent years serving as a soil consultant for many top wineries in Burgundy, and founded Laboratoire d’Analyses Microbiologiques des Sols (LAMS) in 1990 with his wife, Lydia Bourguignon. This independent laboratory has since become the most authoritative research institution on protection of soil health and research.</p>
            <p>Claude and Lydia conducted a series of comprehensive analysis on the soil composition throughout the vineyards of Château Preuillac and they were further convinced that this land is gifted with immensely impossible potential. With their tailored vineyard farming and soil management systems for Château Preuillac, each piece of land can be used to its fullest potential, thus allowing all its wines to bring out the unique charm of their terroir.</p>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2"></div>
    </div>
  
    <div class="row">
      <div class="col-md-2 col-sm-2"></div>
      <div class="col-md-3 col-sm-3">
        <div class="block">
          <img src="img/StephaneDerenoncourt.jpg" alt="Img">
        </div>
      </div>
      <div class="col-md-5 col-sm-5">
        <div class="block">
          <div class="section-title">
            <h3>The Derenoncourt Consultants</h3>
            <h4></h4>
            <p>Key person Stéphane Derenoncourt, is a well known French self-educated vigneron who works as a consultant for numerous estates in Bordeaux and other wine producers worldwide. He established his consultancy company in 1999.</p>
            <p>In Château Preuillac, the role of renowned Derenoncourt Consultants is to optimise the vine plots, to create a stylish product with distinct character and the potential to improve with age. Through the excellence and recognitions from international wine competitions, results made the commercialization effortless whilst the wines retain their unique distinctions and remain true to their origins.</p>
          </div>
        </div>
      </div>
    <div class="col-md-2 col-sm-2"></div>
    </div>

    <div class="row">
      <div class="col-md-2 col-sm-2"></div>
      <div class="col-md-3 col-sm-3">
        <div class="block">
          <img src="img/MarcFrancois.jpg" alt="Img">
        </div>
      </div>
      <div class="col-md-5 col-sm-5">
        <div class="block">
          <div class="section-title">
            <h3>Marc Francois</h3>
            <h4>GROUP TECHNICAL DIRECTOR OF THE 3 THINKERS</h4>
            <p>After completion in technical studies, Marc joined the management training at the agricultural engineering school of Bordeaux. He has more than 20 years of experience in the wine industry and worked in classified properties since 1994.</p>
            <p>Marc is Nathalie’s manager, who sees through all technical operations and budget planning. He also provides precise advices to the property.</p>
            <p>Marc is very passionate in his work and he aims to achieve world class wines.</p>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2"></div>
    </div>

  </div>
</section>