    <!-- Wrapper Start -->
    <section id="vineyard">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-sm-2"></div>
          <div class="col-md-8 col-sm-8">
            <div class="block">
              <img src="img/vineyard.jpg" alt="Img">
            </div>
          </div>
          <div class="col-md-2 col-sm-2"></div>
        </div>
        <div class="row">
          <div class="col-md-2 col-sm-2"></div>
          <div class="col-md-8 col-sm-8">
            <div class="block">
              <div class="section-title">
                <h2>The Vineyard</h2>
              </div>
              <p>Located in the heart of the Médoc, 10 km to the north of Saint Estèphe in Lesparre Médoc, the vineyard of Château Preuillac covers 30 hectares in a single stretch. Facing due south, it enjoys outstanding exposure to the sun, providing ideal conditions for the grapes to ripen.</p>
              <p>50% of the vineyard lays on clay-limestone and gravel, while one quarter is on excellent gravel soils and the remaining quarter is on sand-gravel.</p>
              <p>The estate that has been producing wine for more than 200 years, excelled in a competition in 1879, has earned itself a reputation and frequent praises from wine critics for its rich layered yet mellow wine.</p>
              <p>The vineyard is planted with Merlot (54%), Cabernet Sauvignon (40%) and Cabernet Franc (5%), Petit Verdot (1%) of which vines are 35 years old on average.</p>
            </div>
          </div>
          <div class="col-md-2 col-sm-2"></div>
        </div>
      </div>
    </section>