    <!-- Wrapper Start -->
    <section id="vinification">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-sm-2"></div>
          <div class="col-md-8 col-sm-8">
            <div class="block">
              <img src="img/vinification.jpg" alt="Img">
            </div>
          </div>
          <div class="col-md-2 col-sm-2"></div>
        </div>
        <div class="row">
          <div class="col-md-2 col-sm-2"></div>
          <div class="col-md-8 col-sm-8">
            <div class="block">
              <div class="section-title">
                <h2>The Vinification</h2>
              </div>
              <p>Harvest done “100% exclusively by hands” in order to compose the best wine possible, well balanced, harmonious, allowing the fruit to express itself to the fullest. The decision for harvest is made through many analyses but mostly by tasting, and according to the weather forecast.</p>
              <p>Wines are usually stored in wooden wine vats for 3 weeks of fermentation. Every year, 1/3 of the wine production will go into new oak barrels for 12-18 months of aging. Also, by tasting the different batches of wine, we then decide what we use for aging the wines: new oak, used barrel, vat, according to the typicity of the wine.</p>
              <p>After one and a half year, the wines age and become more complex and elegant. During this period, we have to add wine regularly to compensate evaporation (6-8%) through the wood, this is known as the “angel’s share”.</p>
              <p>Château Preuillac takes into careful consideration for every stage of process as every decision determines the outcome.</p>
              <p>Château Preuillac wines are rich and expressive, yet well-structured with a beautiful aromatic richness: red berries and cedar that allows it to age and develop in the bottle.</p>
            </div>
          </div>
          <div class="col-md-2 col-sm-2"></div>
        </div>
      </div>
    </section>