    <!-- Wrapper Start -->
    <section id="viticulture">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-sm-2"></div>
          <div class="col-md-8 col-sm-8">
            <div class="block">
              <img src="img/viticulture.jpg" alt="Img">
            </div>
          </div>
          <div class="col-md-2 col-sm-2"></div>
        </div>
        <div class="row">
          <div class="col-md-2 col-sm-2"></div>
          <div class="col-md-8 col-sm-8">
            <div class="block">
              <div class="section-title">
                <h2>The Viticulture</h2>
              </div>
              <p>The pruning system is guyot double. All the work on the vines is 100% carried out by hands. The soils are hoed and no weed killers are used.</p>
              <p>The vineyard is ploughed and cultivated in accordance with the principles of sustainable control: traps are installed throughout the vineyard to keep counts of insect pests and adapt treatments to just the right levels.</p>
              <p>Leaf stripping is carried out on the eastern side of the rows in mid-August to optimise air circulation around the grapes. Two weeks before harvesting, leaf-stripping is also carried out on the other side of the rows to combat outbreaks of grey rot. Green harvest is also carried out to limit the yield and increase quality.</p>
              <p>All grapes are hand-picked to protect the fruit and its aromas.</p>
              <p>Systematic bud removal when the vines are pruned (3 buds per branch).</p>
              <p>To limit yields and enhance the quality of our wines, we carry out systematic removal of the base buds on all the vines.</p>
            </div>
          </div>
          <div class="col-md-2 col-sm-2"></div>
        </div>
      </div>
    </section>