    <!-- Wrapper Start -->
    <section id="woodenvats">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-sm-2"></div>
          <div class="col-md-8 col-sm-8">
            <div class="block">
              <img src="img/woodenvats.jpg" alt="Img">
            </div>
          </div>
          <div class="col-md-2 col-sm-2"></div>
        </div>
        <div class="row">
          <div class="col-md-2 col-sm-2"></div>
          <div class="col-md-8 col-sm-8">
            <div class="block">
              <div class="section-title">
                <h2>The Wooden Vats</h2>
              </div>
              <p>Wooden vats are used in Château Preuillac. Wooden vats can bring some tertiary aromas to the wines, especially when they are new. For vinification, the wood brings more fruity flavours to the wines. For aging, these vats offer a better quality, it allow a micro-oxygenation to the wines, which is favourable. With this process, the tannins are structurally transformed which providing more power and roundness to the wines.</p>
              <p>Wooden vats were used in the past for making wine. Hence, here in Château Preuillac, it is also a way to respect such a tradition, which is very important in winemaking.</p>
            </div>
          </div>
          <div class="col-md-2 col-sm-2"></div>
        </div>
      </div>
    </section>