    <!-- Wrapper Start -->
    <section id="intro">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-sm-2"></div>
          <div class="col-md-8 col-sm-8">
            <div class="block">
              <div class="section-title">
                <h2>Héritage</h2>
              </div>
              <p>En 1869, Edmond Addé, reconnu par le secteur agricole français avec le titre de «Chevalier du domaine», a promu le Château Preuillac. À partir de Merlot, Cabernet Sauvignon, Sémillon et Muscat, Edmond Addé travaille à la sélection de cépages haut de gamme et au développement du vignoble. Dès 1879, le vignoble a remporté plusieurs médailles et récompenses.</p>
              <p>Le Château Preuillac a gagné une reconnaissance bien méritée en 1932 lorsqu’il est inclus dans le classement des Crus Bourgeois créé cette année-là.</p>
              <p>Le château Preuillac, qui comptait déjà 30 hectares, a été repris par Raymond Bouët, qui a entrepris une réorganisation majeure du vignoble, la construction d'un chai et d’une cave souterraine mis en service en 1975. La cave souterraine de 200 m2 est devenue une structure unique dans l'appellation Médoc.</p>
              <p>La construction a été achevée en 1980, adoptant le style du 18ème siècle.</p>
              <p>Les familles Mau et Dirkzwager ont racheté le domaine avec succès en 1998.</p>
              <p>Des travaux de rénovation importants sont entrepris dans toute la cave et dans le vignoble, ce qui incite le Château Preuillac à briller et à exceller dans la poursuite de ses objectifs.</p>
            </div>
          </div>
          <div class="col-md-2 col-sm-2"></div>
          <!--<div class="col-md-5 col-sm-12">
            <div class="block">
              <img src="img/wrapper-img.png" alt="Img">
            </div>
          </div>--><!-- .col-md-5 close -->
        </div>
      </div>
    </section>