    <!-- Wrapper Start -->
    <section id="appellation">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-sm-2"></div>
          <div class="col-md-8 col-sm-8">
            <div class="block">
              <img src="img/appellation.jpg" alt="Img">
            </div>
          </div>
          <div class="col-md-2 col-sm-2"></div>
        </div>
        <div class="row">
          <div class="col-md-2 col-sm-2"></div>
          <div class="col-md-8 col-sm-8">
            <div class="block">
              <div class="section-title">
                <h2>L’Appellation</h2>
              </div>
              <p>Avec son climat tempéré, ses conditions de terrain, le Medoc, bordé par la rivière et l’océan, profite d’une situation parfaite pour une région viticole depuis le XVIe siècle.</p>
              <p>Au XVIIIe siècle, son développement est très important. L'appellation Médoc est devenue une icône emblématique de la viticulture française, notamment au plus fort du commerce de vin britannique.</p>
              <p>Le Médoc est l’une des principales appellations de la rive gauche de Bordeaux. Il est situé entre l’océan Atlantique et la Gironde, couvrant une surface de 16500 hectares. L’origine du nom vient du mot latin «inmédio-aquae» qui signifie «entre les eaux». Cela a accentué l'abondance d'eau autour de l'appellation Médoc.</p>
              <p>Le Médoc a un sol alluvial, principalement composé de sable, d'argile et de gravier. Il est devenu un terrain unique sur la rive gauche de Bordeaux. En outre, la teneur élevée en gravier permet également un bon drainage naturel.</p>
              <p>Les meilleurs domaines viticoles tels que Château Lafite Rothschild, Château Latour, Château Haut-Brion, Château Margaux sont tous localisés sur la rive gauche.</p>
            </div>
          </div>
          <div class="col-md-2 col-sm-2"></div>
        </div>
      </div>
    </section>