
<ul class="address-block">
  <li>
    <p>Les visites sont sur rendez-vous du lundi au vendredi de 9h00 à 18h00. <br /> Possibilité de visites sur les week-ends et jours fériés (sur demande).</p>
  </li>
  <li>
    <i class="fa fa-plane"></i>
  </li>
  <li>
    <table>
      <tr>
        <td>Aéroport de Bordeaux-Mérignac</td>
        <td>64.4km (approx. 1h00 en voiture)</td>
      </tr>
    </table>
  </li>
  <li>
    <i class="fas fa-city"></i>
  </li>
  <li>
    <table>
      <tr>
        <td>Centre-ville de Bordeaux</td>
        <td>65.9km (approx. 1h13 en voiture)</td>
      </tr>
    </table>
  </li>
  <li>
    <i class="fab fa-vine"></i>
  </li>
  <li>
    <table>
      <tr>
        <td>Château La Cardonne</td>
        <td>800m (approx. 1min en voiture)</td>
      </tr>
      <tr>
        <td>Château Ramafort</td>
        <td>800m (approx. 1min en voiture)</td>
      </tr>
      <tr>
        <td>Château Cos d'Estournel</td>
        <td>15.6km (approx. 15min en voiture)</td>
      </tr>
      <tr>
        <td>Château Montrose</td>
        <td>15.9 km (approx. 18min en voiture)</td>
      </tr>
      <tr>
        <td>Château Lafite  Rothschild</td>
        <td>18.0km (approx. 20 mins en voiture)</td>
      </tr>
      <tr>
        <td>Château Mouton Rothschild</td>
        <td>18.3km (approx. 20 mins en voiture)</td>
      </tr>
      <tr>
        <td>Château d'Armailhac</td>
        <td>18.8km (approx. 20 mins en voiture)</td>
      </tr>
      <tr>
        <td>Château Pontet Canet</td>
        <td>19.5km (approx. 22 mins en voiture)</td>
      </tr>
      <tr>
        <td>Château Lynch Bages</td>
        <td>21.0km (approx. 24 mins en voiture)</td>
      </tr>
      <tr>
        <td>Château Pichon Baron</td>
        <td>25.0km (approx. 26 min en voiture)</td>
      </tr>
      <tr>
        <td>Château Léoville Poyferré</td>
        <td>26.7km (approx. 26min en voiture)</td>
      </tr>
      <tr>
        <td>Château Gruaud Larose</td>
        <td>27.2km (approx. 26min en voiture)</td>
      </tr>
      <tr>
        <td>Château Beychevelle</td>
        <td>28.1km (approx. 28min en voiture)</td>
      </tr>
      <tr>
        <td>Château Latour</td>
        <td>28.2km (approx. 28min en voiture)</td>
      </tr>
      <tr>
        <td>Château Ducru-Beaucaillou</td>
        <td>28.3km (approx. 28min en voiture)</td>
      </tr>
    </table>
  </li>
  <li>
    <i class="fa fa-map-marker"></i>33340 Lesparre-Médoc - France
  </li>
  <li>
    <i class="fa fa-envelope"></i>contact@chateaupreuillac.com
  </li>
  <li id="phone">
    <i class="fa fa-phone"></i>00 33 (0) 5 57 24 95 98
  </li>
</ul>
<h2>Contactez-nous pour prendre un rendez-vous !</h2>