
<ul class="address-block">
  <li>
    <p>Les visites sont sur rendez-vous du lundi au vendredi de 9h00 à 18h00. <br /> Possibilité de visites sur les week-ends et jours fériés (sur demande).</p>
  </li>
  <li>
    <i class="fa fa-plane"></i>
  </li>
  <li>
    <table width="100%">
      <tr>
        <td width="35%">Aéroport de Bordeaux</td>
        <td width="65%">65.7km (approx. 1h00 en voiture)</td>
      </tr>
    </table>
  </li>
  <li>
    <i class="fa fa-vine"></i>
  </li>
  <li>
    <table width="100%">
      <tr>
        <td width="35%">Château La Cardonne</td>
        <td width="65%">800m (approx. 1min en voiture)</td>
      </tr>
      <tr>
        <td width="35%">Château Ramafort</td>
        <td width="65%">800m (approx. 1min en voiture)</td>
      </tr>
      <tr>
        <td width="35%">Château Lafite  Rothschild</td>
        <td width="65%">18.0km (approx. 20 mins en voiture)</td>
      </tr>
      <tr>
        <td width="35%">Château Mouton Rothschild</td>
        <td width="65%">18.3km (approx. 20 mins en voiture)</td>
      </tr>
      <tr>
        <td width="35%">Château d'Armailhac</td>
        <td width="65%">18.8km (approx. 20 mins en voiture)</td>
      </tr>
      <tr>
        <td width="35%">Château Pontet Canet</td>
        <td width="65%">19.5km (approx. 22 mins en voiture)</td>
      </tr>
      <tr>
        <td width="35%">Château Lynch Bages</td>
        <td width="65%">21.0km (approximately 24 mins en voiture)</td>
      </tr>
    </table>
  </li>
  <li>
    <i class="fa fa-map-marker"></i>33340 Lesparre-Médoc - France
  </li>
  <li>
    <i class="fa fa-envelope-o"></i>Email: contact@chateaupreuillac.com
  </li>
  <li id="phone">
    <i class="fa fa-phone"></i>Téléphone: 00 33 (0) 5 57 24 95 98
  </li>
</ul>
<h2>Contactez-nous pour prendre un rendez-vous !</h2>