    <!-- Wrapper Start -->
    <section id="grapes">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-sm-2"></div>
          <div class="col-md-8 col-sm-8">
            <div class="block">
              <img src="img/grapes.jpg" alt="Img">
            </div>
          </div>
          <div class="col-md-2 col-sm-2"></div>
        </div>
        <div class="row">
          <div class="col-md-2 col-sm-2"></div>
          <div class="col-md-8 col-sm-8">
            <div class="block">
              <div class="section-title">
                <h2>Les Cépages</h2>
              </div>
              <p>Le vignoble est composé de Merlot (54%), de Cabernet Sauvignon (40%), de Cabernet Franc (5%) et de Petit Verdot (1%), dont les vignes ont une moyenne d’âge de 35 ans.</p>
              <div class="section-title">
                <h3>MERLOT</h3>
              </div>
              <p>Se développant exceptionnellement bien sur le terroir de la région, les raisins mûrissent facilement et rapidement. Les Merlots sont récoltés tôt afin de maintenir l'acidité et produire des vins moyennement corsés, avec un degré d'alcool modéré, aux arômes frais de fruits rouges (framboises, fraises), avec éventuellement des notes végétales, tandis que les vendanges tardives ont pour but de gagner en maturité physiologique et de produire des vins teintés (violets), et très corsés, riches en alcool et dotés de tanins veloutés et luxuriants, avec des notes intenses de prune et de mûre.</p>
              <div class="section-title">
                <h3>CABERNET SAUVIGNON</h3>
              </div>
              <p>Le cabernet sauvignon englobe un large éventail de saveurs potentielles. A parfaite maturation il apporte des saveurs de cassis qui sont souvent accompagnées de notes de cerise noire et d’olive dans les vignobles bordelais. Ce sont généralement des vins corsés, riches en tanins et dotés d’une acidité remarquable qui contribuent au potentiel de vieillissement. Nos normes rigoureuses supposent que seuls les raisins de cabernet sauvignon parfaitement mûrs sont ajoutés aux vins rouges de Château Preuillac.</p>
              <div class="section-title">
                <h3>CABERNET FRANC</h3>
              </div>
              <p>Un parent éloigné du cabernet sauvignon, le cabernet franc fleurit et mûrit au moins une semaine plus tôt et est souvent utilisé pour être assemblé dans le style bordelais avec le cabernet sauvignon et le merlot. Le Cabernet Franc apporte aux vins de Château Preuillac un parfum complexe, ainsi que des délicieuses senteurs de framboise et de cassis.</p>
              <div class="section-title">
                <h3>PETIT VERDOT</h3>
              </div>
              <p>Le Petit Verdot est une variété de cépage rouge, principalement utilisée dans les assemblages de Bordeaux classiques. Presque tout le Petit Verdot en France est planté à Bordeaux, principalement dans le Médoc où il est utilisé en petites quantités pour structurer l’assemblage classique de Bordeaux. Il mûrit beaucoup plus tard que les autres variétés bordelaises. A pleine maturité, il ajoute à l’assemblage des tanins, de la couleur et du goût en petite quantité. Il apporte également des arômes de café ou même de cacao.</p>
            </div>
          </div>
          <div class="col-md-2 col-sm-2"></div>
        </div>
      </div>
    </section>