    <!-- Wrapper Start -->
    <section id="oakbarrels">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-sm-2"></div>
          <div class="col-md-8 col-sm-8">
            <div class="block">
              <img src="img/oakbarrels.jpg" alt="Img">
            </div>
          </div>
          <div class="col-md-2 col-sm-2"></div>
        </div>
        <div class="row">
          <div class="col-md-2 col-sm-2"></div>
          <div class="col-md-8 col-sm-8">
            <div class="block">
              <div class="section-title">
                <h2>Les fûts de chêne</h2>
              </div>
              <p>La qualité des fûts est très importante, car elle affecte la qualité du vin. Le chêne français est surtout reconnu pour son excellence, il influence le goût et les composants aromatiques du vin. Grâce à leurs compétences, les producteurs français de fûts étudient et comprennent comment différents types de bois peuvent apporter différentes qualités.</p>
              <p>Au Château Preuillac, on choisit un grain de bois fin, car il donne des tanins souples. Ils sont moyennement grillés pour respecter les arômes fruités du vin.</p>
            </div>
          </div>
          <div class="col-md-2 col-sm-2"></div>
        </div>
      </div>
    </section>