<section id="intro">
	<div class="container">
		<div class="row">
			<div class="col-md-2 col-sm-2"></div>
			<div class="col-md-8 col-sm-8">
				<div class="block">
          <div class="section-title">
            <h2>Notre équipe</h2>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2"></div>
    </div>
    <div class="row">
     <div class="col-md-2 col-sm-2"></div>
     <div class="col-md-3 col-sm-3">
      <div class="block">
        <img src="img/StephaneDerenoncourt.jpg" alt="Img">
      </div>
    </div>
    <div class="col-md-5 col-sm-5">
      <div class="block">
        <div class="section-title">
          <h3>Derenoncourt Consultants</h3>
          <h4></h4>
          <p>Stéphane Derenoncourt est une personne clé. Il s’agit d’un vigneron français bien connu et autodidacte qui travaille comme consultant pour de nombreux domaines à Bordeaux et chez d’autres viticulteurs du monde entier. Il a créé sa société de conseil en 1999.</p>
          <p>En 2012, Robert Parker a attribué 100 points à 19 bouteilles de vin de Bordeaux du millésime 2009, dont 4 provenaient du travail de Stéphane.</p>
          <p>Monsieur Derenoncourt et son équipe travaillent maintenant avec plus de 130 propriétés viticoles à travers le monde.</p>
          <p>À Château Preuillac, le rôle des renommés Derenoncourt Consultants est d’optimiser les parcelles de vigne afin de créer un produit élégant, au caractère distinct et au  potentiel d’amélioration avec l’âge. Grâce à leur excellence et à la reconnaissance des concours internationaux, les résultats ont rendu la commercialisation facile, tandis que les vins conservent leurs distinctions uniques et restent fidèles à leurs origines.</p>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-sm-2"></div>
  </div>
  <div class="row">
   <div class="col-md-2 col-sm-2"></div>
   <div class="col-md-3 col-sm-3">
    <div class="block">
      <img src="img/ClaudeBourguignon.jpg" alt="Img">
    </div>
  </div>
  <div class="col-md-5 col-sm-5">
    <div class="block">
      <div class="section-title">
        <h3>Claude Bourguignon</h3>
        <h4>agronome</h4>
        <p>Doté d’un terroir de qualité supérieure, le Château Preuillac a également invité Monsieur Claude Bourguignon, l’expert des sols le plus renommé au monde, à se joindre à l’équipe.</p>
        <p>Monsieur Bourguignon a travaillé pendant des années comme consultant pour les sols dans de nombreux vignobles d’exception en Bourgogne et a fondé le Laboratoire d’Analyses Microbiologiques des Sols (LAMS) en 1990 avec son épouse, Lydia Bourguignon. Ce laboratoire indépendant est depuis devenu l’institution de recherche la plus réputée en matière d’études et de protection pour la santé des sols.</p>
        <p>Afin d’améliorer la qualité des vins de Château Preuillac, Monsieur Bourguignon a mené une série d’analyses complètes sur la composition des sols de l’ensemble du vignoble. Il est donc également convaincu que cette terre généreuse possède un potentiel immense.</p>
        <p>Monsieur Bourguignon a personnellement adapté les systèmes de culture du vignoble et de gestion des sols de Château Preuillac, afin que chaque parcelle puisse être utilisée pleinement, permettant ainsi à tous ses vins d’exprimer le charme unique de leur terroir.</p>
      </div>
    </div>
  </div>
  <div class="col-md-2 col-sm-2"></div>
</div>
<div class="row">
 <div class="col-md-2 col-sm-2"></div>
 <div class="col-md-3 col-sm-3">
  <div class="block">
    <!--<img src="img/NathalieBillard.jpg" alt="Img">-->
  </div>
</div>
<div class="col-md-5 col-sm-5">
  <div class="block">
    <div class="section-title">
      <h3>Marc Francois</h3>
      <h4>Directeur Technique du Groupe The 3 Thinkers</h4>
      <p>Après avoir terminé ses études techniques, Marc a rejoint la formation de gestion à l’école d’ingénieurs agronomes de Bordeaux. Il a plus de 20 ans d'expérience dans l'industrie du vin et travaille dans des propriétés classées depuis 1994.</p>
      <p>Marc est le manager de Nathalie, il  supervise toutes les opérations techniques et la planification du budget. Il fournit également des conseils précis pour la propriété.</p>
      <p>Marc est passionné par son travail et son objectif est d'obtenir des vins de renommée mondiale.</p>
    </div>
  </div>
</div>
<div class="col-md-2 col-sm-2"></div>
</div>
<div class="row">
 <div class="col-md-2 col-sm-2"></div>
 <div class="col-md-3 col-sm-3">
  <div class="block">
    <img src="img/NathalieBillard.jpg" alt="Img">
  </div>
</div>
<div class="col-md-5 col-sm-5">
  <div class="block">
    <div class="section-title">
      <h3>Nathalie Billard</h3>
      <h4>maître de chai</h4>
      <p>Une <i>Master of wine</i> avec au moins 20 ans d'expérience dans la vinification dans différents pays et appellations, notamment en Californie, dans le sud de la France, à Bordeaux, etc. Ici, à Château Preuillac, Nathalie planifie et organise le travail de l'équipe, que ce soit à la vigne ou à la cave. Elle travaille également en étroite collaboration avec tous les sous-traitants et consultants.</p>
      <p>Nathalie vise à élaborer des vins délicats et élégants, tout en mettant en avant les aspects de la concentration en fruits et du terroir. Par-dessus tout, il est également important pour elle de maintenir l'équilibre des vins. Cela reflète vraiment son attention méticuleuse aux détails et son dévouement dans la vinification.</p>
    </div>
  </div>
</div>
<div class="col-md-2 col-sm-2"></div>
</div>


</div>
</section>