    <!-- Wrapper Start -->
    <section id="vineyard">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-sm-2"></div>
          <div class="col-md-8 col-sm-8">
            <div class="block">
              <img src="img/vineyard.jpg" alt="Img">
            </div>
          </div>
          <div class="col-md-2 col-sm-2"></div>
        </div>
        <div class="row">
          <div class="col-md-2 col-sm-2"></div>
          <div class="col-md-8 col-sm-8">
            <div class="block">
              <div class="section-title">
                <h2>Le Vignoble</h2>
              </div>
              <p>Situé au cœur du Médoc, à 10 km au nord de Saint Estèphe, à Lesparre-Médoc, le vignoble de Château Preuillac s'étend sur 30 hectares en un seul bloc. Orienté plein sud, il bénéficie d'une exposition exceptionnelle au soleil, offrant des conditions idéales pour la maturation des raisins.</p>
              <p>50% du vignoble repose sur un sol argilo-calcaire et graveleux, un quart sur d'excellents sols graveleux et le quart restant sur du sable et du gravier.</p>
              <p>Le domaine, qui produit du vin depuis plus de 200 ans et a excellé dans un concours en 1879, s'est forgé une réputation et mérite les louanges des critiques pour son vin très structuré et délicat.</p>
              <p>Le vignoble est composé de Merlot (54%), de Cabernet Sauvignon (40%), de Cabernet Franc (5%) et de Petit Verdot (1%), dont les vignes ont une moyenne d’âge de 35 ans.</p>
            </div>
          </div>
          <div class="col-md-2 col-sm-2"></div>
        </div>
      </div>
    </section>