    <!-- Wrapper Start -->
    <section id="vinification">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-sm-2"></div>
          <div class="col-md-8 col-sm-8">
            <div class="block">
              <img src="img/vinification.jpg" alt="Img">
            </div>
          </div>
          <div class="col-md-2 col-sm-2"></div>
        </div>
        <div class="row">
          <div class="col-md-2 col-sm-2"></div>
          <div class="col-md-8 col-sm-8">
            <div class="block">
              <div class="section-title">
                <h2>La Vinification</h2>
              </div>
              <p>Les vendanges sont faites « 100% à la main », afin de composer le meilleur vin possible, bien équilibré, harmonieux, permettant ainsi au fruit de s'exprimer pleinement. La décision de récolte est prise après de nombreuses analyses mais principalement après dégustation et en fonction des prévisions météorologiques.</p>
              <p>Les vins sont généralement stockés dans des cuves en bois pour 3 semaines de fermentation. Chaque année, 1/3 de la production de vin vieillira en fûts de chêne neufs pendant une période de 12 à 18 mois. De plus, en dégustant les différents lots, nous décidons ensuite de ce que nous utilisons pour le vieillissement : chêne neuf, fût usagé, cuve, selon la typicité du vin.</p>
              <p>Après un an et demi, les vins vieillissent et deviennent plus complexes et élégants. Pendant cette période, nous devons ajouter du vin régulièrement pour compenser l’évaporation (6-8%) à travers le bois. Il s’agit de la « part des anges ».</p>
              <p>Le Château Preuillac prend bien en considération toutes les étapes du processus de vinification, car chaque décision en détermine le résultat.</p>
              <p>Les vins de Château Preuillac sont riches et expressifs, bien structurés et dotés d'une belle richesse aromatique : fruits rouges et cèdre qui lui permettent de vieillir et de se développer en bouteille.</p>
            </div>
          </div>
          <div class="col-md-2 col-sm-2"></div>
        </div>
      </div>
    </section>