    <!-- Wrapper Start -->
    <section id="viticulture">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-sm-2"></div>
          <div class="col-md-8 col-sm-8">
            <div class="block">
              <img src="img/viticulture.jpg" alt="Img">
            </div>
          </div>
          <div class="col-md-2 col-sm-2"></div>
        </div>
        <div class="row">
          <div class="col-md-2 col-sm-2"></div>
          <div class="col-md-8 col-sm-8">
            <div class="block">
              <div class="section-title">
                <h2>La Viticulture</h2>
              </div>
              <p>Le type de taille utilisé est le guyot double. 100% des travaux de la vigne sont effectués à la main. Les sols sont labourés et aucun désherbant n’est utilisé.</p>
              <p>Le vignoble est labouré et cultivé conformément aux principes du contrôle durable : des pièges sont installés dans tout le vignoble pour permettre le dénombrement des insectes nuisibles et adapter les traitements au juste niveau.</p>
              <p>L'enlèvement des feuilles s'effectue mi-août du côté Est des rangées afin d'optimiser la circulation de l'air autour des raisins. Deux semaines avant la récolte, un effeuillage est également réalisé de l'autre côté des rangées pour lutter contre la prolifération de pourriture grise. Des vendanges vertes sont ensuite effectuées pour limiter le rendement et améliorer la qualité.</p>
              <p>Tous les raisins sont cueillis à la main pour protéger le fruit et ses arômes.</p>
              <p>Les bourgeons sont systématiquement éliminés lors de la taille de la vigne (3 bourgeons par branche).</p>
              <p>Pour limiter les rendements et améliorer la qualité de nos vins, nous procédons à l'élimination systématique des bourgeons de base sur toutes les vignes.</p>
            </div>
          </div>
          <div class="col-md-2 col-sm-2"></div>
        </div>
      </div>
    </section>