    <!-- Wrapper Start -->
    <section id="woodenvats">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-sm-2"></div>
          <div class="col-md-8 col-sm-8">
            <div class="block">
              <img src="img/woodenvats.jpg" alt="Img">
            </div>
          </div>
          <div class="col-md-2 col-sm-2"></div>
        </div>
        <div class="row">
          <div class="col-md-2 col-sm-2"></div>
          <div class="col-md-8 col-sm-8">
            <div class="block">
              <div class="section-title">
                <h2>Les cuves en bois</h2>
              </div>
              <p>Des cuves en bois sont utilisées au Château Preuillac. Les cuves en bois peuvent apporter des arômes tertiaires aux vins, surtout lorsqu'elles sont neuves. Pour la vinification, le bois apporte plus de saveurs fruitées aux vins. Pour le vieillissement, ces cuves offrent une meilleure qualité, cela permet une micro-oxygénation des vins, ce qui est favorable. Avec ce processus, les tanins sont transformés structurellement, ce qui donne davantage de puissance et de rondeur aux vins.</p>
              <p>Les cuves en bois étaient autrefois utilisées pour la fabrication du vin. De ce fait, ici au Château Preuillac, c’est aussi un moyen de respecter cette tradition, très importante en viticulture.</p>
            </div>
          </div>
          <div class="col-md-2 col-sm-2"></div>
        </div>
      </div>
    </section>